.blogs {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1 ps solid #dddddd;

  .blog {
    position: relative;
    border: 1px solid #DDDDDD;
    margin: 0 20px 25px 0;
    padding: 12px 15px 10px 15px;
    width: 220px;
    display: inline-block;
    vertical-align: top;

    .inner-wap {
      height: 46px;
      overflow: hidden;

      .title {
        font-weight: bold;
        color: #000;
        display: block;
        margin-bottom: 5px;
      }

      .subtitle {
        height: 18px;
        overflow: hidden;
        color: #999;
        font-size: 12px;
        margin-bottom: 3px;
      }

      .author {
        position: absolute;
        bottom: 12px;
        left: 15px;
        color: #999;
        font-size: 12px;

        span {
          color: #666;
        }
      }
    }

    &:hover {
      background: #f9f9f9;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.latest-blogs {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 12px;

  .latest-blog {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    .subtitle {
      padding-top: 4px;
      color: #999999;
      font-size: 12px;
    }
  }
}
