.kinds-selector .kind {
  padding: 5px 7px;
  background-color: #eee;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0 8px 12px 0;
  font-size: 12px;
  text-decoration: none;
  color: #333;
}
.kinds-selector .kind:hover {
  background-color: #ddd;
}
.kinds-selector .kind.on {
  background-color: #2a99c2;
  color: white;
}
.blogs {
  padding-top: 5px;
}
.latest-blogs {
  border-top: 1px solid #ddd;
  padding-top: 12px;
}
.latest-blogs .latest-blog {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}
.latest-blogs .latest-blog .title {
  color: #000;
}
.latest-blogs .latest-blog .subtitle {
  padding-top: 4px;
  color: #999999;
  font-size: 12px;
}
