@import "../utils";

.blogs {
  padding-top: 5px;
  border-top: 1 ps solid #dddddd;

  .blog {
    position: relative;
    border-top: 1px solid #DDDDDD;
    margin: 0 0px 15px 0;
    padding: 15px 15px 0px 0px;
    vertical-align: top;

    .title {
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-bottom: 6px;
    }

    .subtitle {
      font-size: 12px;
      margin-bottom: 6px;
    }

    .author {
      position: absolute;
      bottom: 12px;
      left: 15px;
      color: #999;
      font-size: 12px;

      span {
        color: #666;
      }
    }

    .kinds {
      font-size: 12px;
      color: #999;
    }
  }
}

.latest-blogs {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 12px;

  .latest-blog {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    .title {
      color: #333;
    }

    .subtitle {
      padding-top: 4px;
      color: #999999;
      font-size: 12px;
    }
  }
}
