.kinds-selector {
  padding-bottom: 2px;
}
.kinds-selector .kind {
  padding: 5px 7px;
  background-color: #eee;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0 8px 10px 0;
  font-size: 12px;
  text-decoration: none;
  color: #555;
}
.kinds-selector .kind:hover {
  background-color: #ddd;
}
.kinds-selector .kind.on {
  background-color: #2a99c2;
  color: white;
}
.blogs {
  padding-top: 5px;
}
.blogs .blog {
  position: relative;
  border-top: 1px solid #DDDDDD;
  margin: 0 0px 15px 0;
  padding: 15px 25px 0px 0px;
  vertical-align: top;
}
.blogs .blog.no-kinds .title a {
  color: #ff0000;
}
.blogs .blog .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.blogs .blog .title a {
  color: #333;
}
.blogs .blog .title .offline {
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #ff0000;
}
.blogs .blog .subtitle {
  font-size: 12px;
  margin-bottom: 6px;
}
.blogs .blog .author {
  position: absolute;
  bottom: 12px;
  left: 15px;
  color: #999;
  font-size: 12px;
}
.blogs .blog .author span {
  color: #666;
}
.blogs .blog .kinds {
  font-size: 12px;
  color: #999;
}
.latest-blogs {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 12px;
}
.latest-blogs .latest-blog {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.latest-blogs .latest-blog .title {
  color: #000;
}
.latest-blogs .latest-blog .subtitle {
  padding-top: 4px;
  color: #999999;
  font-size: 12px;
}
