@import "../utils";

.kinds-selector {
  padding-bottom: 2px;

  .kind {
    padding: 5px 7px;
    background-color: #eee;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin: 0 8px 10px 0;
    font-size: 12px;
    text-decoration: none;
    color: #555;

    &:hover {
      background-color: #ddd;
    }

    &.on {
      background-color: @main-color;
      color: white;
    }
  }
}

.blogs {
  padding-top: 5px;

  .blog {
    position: relative;
    border-top: 1px solid #DDDDDD;
    margin: 0 0px 15px 0;
    padding: 15px 25px 0px 0px;
    vertical-align: top;

    &.no-kinds .title a {
      color: #ff0000;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 6px;

      a {
        color: #333;
      }

      .offline {
        margin-left: 5px;
        font-size: 12px;
        font-weight: normal;
        color: #ff0000;
      }
    }

    .subtitle {
      font-size: 12px;
      margin-bottom: 6px;
    }

    .author {
      position: absolute;
      bottom: 12px;
      left: 15px;
      color: #999;
      font-size: 12px;

      span {
        color: #666;
      }
    }

    .kinds {
      font-size: 12px;
      color: #999;
    }
  }
}

.latest-blogs {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 12px;

  .latest-blog {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    .title {
      color: #000;
    }

    .subtitle {
      padding-top: 4px;
      color: #999999;
      font-size: 12px;
    }
  }
}
