@import "../utils";

.blog-header {
  position: relative;
  padding-bottom: 15px;

  .title {
    font-size: 24px;
    font-weight: bold;

    .offline {
      font-size: 14px;
      margin-left: 2px;
      font-weight: normal;
      color: #ff0000;
    }

    .forbid {
      color: #FAAD07;
    }
  }

  .subtitle {
    margin-top: 10px;
  }
}

.table tbody tr {
  td {
    font-size: 12px;
    padding-left: 0;
  }
}

// 订阅按钮
.btn-wap {
  display: inline-block;
  margin-top: 12px;

  .btn-subscribe,
  .btn-unsubscribe {
    text-decoration: none;
  }

  .btn-unsubscribe {
    display: none;
    color: #999;

    &:hover {
      color: #777;
    }
  }

  &.unsubscribe {
    .btn-subscribe {
      display: none;
    }

    .btn-unsubscribe {
      display: inline-block;
    }
  }
}

.report-error {
  a {
    font-size: 12px;
    color: #aaaaaa;
  }
}

.post {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;

  &:hover {
    .right-top-wap .btn-collect-post {
      visibility: visible;
    }
  }

  .title-wap {
    padding-right: 130px;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
  }

  .abstract {
    margin-top: 10px;
    color: #999;
  }

  .right-top-wap {
    margin-top: 2px;

    .time {
      color: #999;
      margin-left: 10px;
    }

    .btn-collect-post {
      color: #999;
      text-decoration: none;
      visibility: hidden;

      .for-collect {
        display: inline-block;

        &:hover {
          color: #666;
        }
      }

      .for-uncollect {
        color: @main-color;
        display: none;
      }

      &.collected {
        visibility: visible !important;

        .for-collect {
          display: none;
        }

        .for-uncollect {
          display: inline-block;
        }
      }
    }
  }
}
