.blog-header {
  position: relative;
  padding-bottom: 15px;

  .title {
    font-size: 24px;
    font-weight: bold;

    .forbid {
      color: #FAAD07;
    }
  }

  .subtitle {
    margin-top: 10px;
  }
}

.table tbody tr {
  td {
    font-size: 12px;
    padding-left: 0;
  }
}

.post {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .abstract {
    margin-top: 10px;
    color: #999;
  }

  .time {
    color: #999;
  }
}
