.blog-header {
  position: relative;
  padding-bottom: 15px;
}
.blog-header .title {
  font-size: 24px;
  font-weight: bold;
}
.blog-header .title .offline {
  font-size: 14px;
  margin-left: 2px;
  font-weight: normal;
  color: #ff0000;
}
.blog-header .title .forbid {
  color: #FAAD07;
}
.blog-header .subtitle {
  margin-top: 10px;
}
.table tbody tr td {
  font-size: 12px;
  padding-left: 0;
}
.report-error a {
  font-size: 12px;
  color: #aaaaaa;
}
.post {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;
}
.post .title-wap {
  padding-right: 110px;
}
.post .title-wap .title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.post .abstract {
  margin-top: 10px;
  color: #999;
}
.post .time {
  color: #999;
  display: block;
  margin-top: 2px;
  float: right;
}
