.recommends {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 15px;
}
.recommend {
  margin-bottom: 20px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}
.recommend .title {
  padding-bottom: 8px;
}
.recommend .title a {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}
.recommend .meta {
  font-size: 12px;
  color: #999999;
}
.recommend .meta .time {
  margin-left: 15px;
}
.recommend .meta .clicks {
  margin-left: 15px;
}
.recommend .meta .readtime {
  margin-left: 15px;
}
.site-info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 15px 0;
}
.latest-posts {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.latest-posts .latest-post {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.latest-posts .latest-post .title {
  padding-bottom: 5px;
}
.latest-posts .latest-post .title a {
  color: #333;
}
.latest-posts .latest-post .meta {
  color: #999;
  font-size: 12px;
}
.latest-posts .latest-post .meta .time {
  margin-left: 10px;
}
