.description-wrapper {
  background: url('/static/image/lonely.jpg') no-repeat center center;
  background-size: cover;
  height: 550px;
  margin-top: -10px;
}
.description-wrapper .words {
  text-align: center;
  color: #ffffff;
}
.description-wrapper .words .title {
  text-shadow: 0 1px 1px #000;
  padding-top: 180px;
  font-size: 50px;
}
.description-wrapper .words .subtitle {
  text-shadow: 0 1px 1px #333;
  font-size: 20px;
  padding-top: 20px;
}
.feed {
  font-size: 14px;
  margin-left: 5px;
}
.recommends {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 15px;
}
.site-info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 15px 0;
}
.latest-posts {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.latest-posts .latest-post {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.latest-posts .latest-post .title {
  padding-bottom: 5px;
}
.latest-posts .latest-post .title a {
  color: #000;
}
.latest-posts .latest-post .meta {
  color: #999;
  font-size: 12px;
}
.latest-posts .latest-post .meta .time {
  margin-left: 10px;
}
