.description-wrapper {
  background: url('http://7u2qsi.com1.z0.glb.clouddn.com/lonely_mini.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  margin-top: -10px;
}
.description-wrapper .words {
  text-align: center;
  color: #ffffff;
}
.description-wrapper .words .title {
  text-shadow: 0 1px 2px #000;
  padding: 180px 20px 0 20px;
  font-size: 50px;
}
@media (max-width: 767px) {
  .description-wrapper .words .title {
    font-size: 38px;
  }
}
.description-wrapper .words .subtitle {
  text-shadow: 0 1px 2px #000;
  font-size: 20px;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .description-wrapper .words .subtitle {
    font-size: 18px;
  }
}
.feed {
  font-size: 14px;
  margin-left: 5px;
}
.recommends {
  border-top: 1px solid #ddd;
  margin-bottom: 15px;
}
.site-info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 15px 0;
}
.col-sm-4 h2 {
  position: relative;
}
.col-sm-4 .pager {
  position: absolute;
  right: 0;
  top: -5px;
  margin: 0;
}
.col-sm-4 .pager .btn {
  padding: 5px 20px;
  line-height: 1;
  color: #666;
}
.col-sm-4 .pager .btn:hover {
  color: #333;
}
.col-sm-4 .pager .btn .fa {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.latest-posts {
  padding-top: 12px;
  border-top: 1px solid #ddd;
}
.latest-posts .latest-post {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}
.latest-posts .latest-post:hover .meta .btn-collect-post {
  visibility: visible;
}
.latest-posts .latest-post .title {
  padding-bottom: 5px;
}
.latest-posts .latest-post .title a {
  color: #000;
}
.latest-posts .latest-post .meta {
  color: #999;
  font-size: 12px;
}
.latest-posts .latest-post .meta .time {
  margin-left: 10px;
}
.latest-posts .latest-post .meta .btn-collect-post {
  margin-left: 15px;
  color: #999;
  text-decoration: none;
  visibility: hidden;
}
.latest-posts .latest-post .meta .btn-collect-post .for-collect {
  display: inline-block;
}
.latest-posts .latest-post .meta .btn-collect-post .for-collect:hover {
  color: #666;
}
.latest-posts .latest-post .meta .btn-collect-post .for-uncollect {
  color: #2a99c2;
  display: none;
}
.latest-posts .latest-post .meta .btn-collect-post.collected {
  visibility: visible !important;
}
.latest-posts .latest-post .meta .btn-collect-post.collected .for-collect {
  display: none;
}
.latest-posts .latest-post .meta .btn-collect-post.collected .for-uncollect {
  display: inline-block;
}
