{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}

{% block page_title %}编辑博客{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="col-sm-8">
         <h2 class="no-margin-top border">编辑博客</h2>

         <form class="form-horizontal" role="form" method="post"
               action="">
            {{ form.csrf_token }}

            <input type="hidden" name="referer" value="{{ request.referrer }}"/>

            {{ horizontal_field(form.url) }}

            {{ horizontal_field(form.title) }}

            {{ horizontal_field(form.subtitle) }}

            {{ horizontal_field(form.author) }}

            {{ horizontal_field(form.feed) }}

            {{ horizontal_field(form.since) }}

            <div class="form-group">
               <div class="col-md-6 col-md-offset-2">
                  <input type="submit" value="保存" class="btn btn-sm btn-primary"/>
               </div>
            </div>
         </form>
      </div>

      <div class="col-sm-4">
      </div>
   </div>
{% endblock %}