{% extends "layout.html" %}
{% from 'macro/ui.html' import pagination %}

{% block page_title %}管理文章{% endblock %}
{% block page_content %}
   <div class="container">
      {% macro render_posts(posts) %}
         <table class="table table-bordered">
            <tr>
               <th>标题</th>
               <th>作者</th>
               <th>字数</th>
               {#               <th>关键词</th>#}
               <th>发表时间</th>
               <th>更新时间</th>
               <th>备注</th>
               <th>标记重复</th>
               <th>推荐</th>
            </tr>

            {% for post in posts %}
               {% set blog = post.blog %}

               <tr>
                  <td style="width: 300px;">
                     <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
                  </td>
                  <td>{{ blog.author }}</td>
                  <td>{{ post.pure_content|length if post.pure_content else 0 }}字</td>
                  {#                  <td>{{ post.keywords|get_keywords if post.keywords else "" }}</td>#}
                  <td>{{ post.published_at if post.published_at else "" }}</td>
                  <td>{{ post.updated_at if post.updated_at else "" }}</td>
                  <td>
                     {% if post.recommend %}
                        <span class="label label-success">推荐</span>
                        <br/>
                     {% endif %}

                     {% if post.hide %}
                        <span class="label label-warning">隐藏</span>
                        <br/>
                     {% endif %}

                     {% if blog.for_special_purpose %}
                        <span class="label label-info">特殊用途</span>
                     {% endif %}
                  </td>
                  <td>
                     {% if post.hide %}
                        <a href="{{ url_for('admin.show_post', uid=post.id) }}"
                           class="btn btn-sm btn-default">
                           <span class="fa fa-eye"></span> 显示
                        </a>
                     {% else %}
                        <a href="{{ url_for('admin.hide_post', uid=post.id) }}"
                           class="btn btn-sm btn-default">
                           <span class="fa fa-eye-slash"></span> 隐藏
                        </a>{% endif %}
                  </td>
                  <td>
                     {% if post.recommend %}
                        <a href="{{ url_for('admin.unrecommend_post', uid=post.id) }}"
                           class="btn btn-sm btn-default">
                           <span class="fa fa-thumbs-down"></span> 取消推荐
                        </a>
                     {% else %}
                        <a href="{{ url_for('admin.recommend_post', uid=post.id) }}"
                           class="btn btn-sm btn-default">
                           <span class="fa fa-thumbs-up"></span> 推荐
                        </a>
                     {% endif %}
                  </td>
               </tr>
            {% endfor %}
         </table>
      {% endmacro %}

      <h2 class="no-margin-top">全部博文</h2>

      {{ render_posts(posts.items) }}

      {{ pagination(posts) }}
   </div>
{% endblock %}
