.col-sm-8 h2 {
  position: relative;
}
.col-sm-8 h2 .btn-mark-all-posts {
  color: #999;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.col-sm-8 h2 .btn-mark-all-posts:hover {
  color: #2a99c2;
}
.posts {
  border-top: 1px solid #ddd;
  margin-bottom: 15px;
}
.blogs {
  border-top: 1px solid #ddd;
  padding-top: 12px;
}
.blogs .blog {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}
.blogs .blog .title {
  color: #000;
}
.blogs .blog .subtitle {
  padding-top: 4px;
  color: #999999;
  font-size: 12px;
}
.link-more {
  font-size: 12px;
  margin-left: 5px;
}
