{% extends "layout.html" %}

{% block page_title %}关于{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="border">关于</h2>

            <p>个人博客之死，就是个人博客之生。</p>

            <p>将信息的快速传递交给新兴媒介，让个人博客回归原来的位置：一种信息的雕刻与沉淀的工具。</p>

            <p>世界太嘈杂，这里只有<strong>个人</strong><sup>兆赫</sup>。</p>

            <p>Blogbar，聚合个人博客。</p>

            <p>联系方式：support@blogbar.cc</p>
         </div>
      </div>
   </div>
{% endblock %}
