{% extends "layout.html" %}

{% block page_title %}免责声明{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="border">免责声明</h2>

            <ul class="text-list terms">
               <li>Blogbar 的内容全部来自互联网的公开信息，个人或单位如认为 Blogbar
                  存在侵犯自身合法权益的内容，应准备好证明材料及时与 Blogbar
                  取得联系，以便 Blogbar 迅速做出处理。
               </li>
               <li>
                  用户在 Blogbar 发表的内容仅表明其个人的立场和观点，并不代表 Blogbar
                  的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。
               </li>
               <li>用户在 Blogbar 发布侵犯他人知识产权或其他合法权益的内容，Blogbar 有权予以删除。</li>
            </ul>

            <p>联系方式：support@blogbar.cc</p>
         </div>
      </div>
   </div>
{% endblock %}
