{% extends "layout.html" %}

{% block page_title %}首页{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="col-sm-8">
         <div class="well well-lg">
            <p>Blogbar目前仍处于Alpha版，没有界面设计，功能也近乎简陋，仅限于聚合个人博客。</p>

            <p>未来的Beta版将对UI进行优化，同时在聚合的基础上提供更加个性化的服务。</p>

            <p>Blogbar的维护者最近琐事缠身，无法抽出太多时间投入到Blogbar的开发之中。</p>

            不过依然敬请期待，Blogbar的下一次蜕变。
         </div>

         <h2>全部博客</h2>

         {% for blog in blogs %}
            <div class="blog">
               <div class="title">
                  <a href="{{ url_for('blog.view', uid=blog.id) }}">
                     {{ blog.title }}
                  </a>
               </div>
            </div>
         {% endfor %}
      </div>

      <div class="col-sm-4">
         <hr/>
         <p>{{ blogs_count }} 博客，{{ posts_count }} 博文</p>
         <hr/>

         <h2>
            最新博文
            <a href="{{ url_for('blog.posts') }}" class="btn btn-primary btn-xs">
               全部博文 <span class="fa fa-angle-right"></span>
            </a>
         </h2>

         {% for post in latest_posts %}
            <div>
               <a href="{{ url_for('blog.post', uid=post.id) }}">
                  {{ post.title }}
               </a>

               {{ post.blog.author }}

               <a href="{{ post.url }}" target="_blank">
                  <span class="fa fa-external-link"></span>
               </a>
            </div>
         {% endfor %}

         <h2>最新收录博客</h2>

         {% for blog in latest_blogs %}
            <div>
               <a href="{{ url_for('blog.view', uid=blog.id) }}">{{ blog.title }}</a>
            </div>
         {% endfor %}
      </div>
   </div>
{% endblock %}