{% extends "layout.html" %}
{% from 'macro/ui.html' import pagination, render_posts %}

{% block page_title %}Blogbar | 聚合个人博客{% endblock %}
{% block page_content %}
   {% if not g.user %}
      <div class="description-wrapper">
         <div class="words">
            <div class="title">世界太嘈杂，这里只有个人<sup>兆赫</sup></div>
            <div class="subtitle">Blogbar，聚合个人博客</div>
         </div>
      </div>
   {% endif %}

   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2>
               <span class="fa fa-anchor"></span> 编辑推荐

               <a href="{{ url_for('site.posts_feed') }}" class="feed" target="_blank"
                  title="RSS订阅">
                  <span class="fa fa-rss-square"></span>
               </a>
            </h2>

            <div class="recommends">
               {{ render_posts(recommend_posts.items) }}
            </div>

            {{ pagination(recommend_posts) }}
         </div>

         <div class="col-sm-4">
            <h2 class="no-margin-top">
               <span class="fa fa-clock-o"></span> 最新文章
               {#               <a href="{{ url_for('blog.posts') }}" class="btn btn-primary btn-xs">#}
               {#                  全部博文 <span class="fa fa-angle-right"></span>#}
               {#               </a>#}
            </h2>

            <div class="latest-posts">
               {% for post in latest_posts %}
                  <div class="latest-post">
                     <div class="title">
                        <a href="{{ url_for('blog.redirect_post', uid=post.id) }}" target="_blank">
                           {{ post.title }}
                        </a>
                     </div>

                     <div class="meta">
                        <a href="{{ url_for('blog.view', uid=post.blog_id) }}">
                           {{ post.blog.title }}</a>

                        {% if post.published_at or post.updated_at %}
                           <span class="time">
                           {% if post.published_at %}
                              {{ post.published_at|timesince }}
                           {% else %}
                              {{ post.updated_at|timesince }}
                           {% endif %}
                        </span>
                        {% endif %}
                     </div>
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}
