{% extends "layout.html" %}

{% block page_title %}Wiki{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="border">Wiki</h2>

            <p>善其事，必先利其器。一个好的博客工具可以让我们专注于写作，减少其他因素的干扰。下面对现存的博客工具做一个简单的梳理，希望能帮助大家找到适合自己的写作方式。</p>


            <table class="table table-bordered">
               <tr>
                  <th colspan="2">类别</th>
                  <th>举例</th>
               </tr>
               <tr>
                  <td rowspan="4">博客平台</td>
               </tr>

               <tr>
                  <td>大众型</td>
                  <td>
                     <div class="blog">
                        <img src="http://baijii-common.b0.upaiyun.com/icons/favicon.ico" alt=""/>
                        <a href="http://www.jianshu.com/" target="_blank">简书</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/farbox.png') }}" alt=""/>
                        <a href="http://www.farbox.com/" target="_blank">FarBox</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/sina.ico') }}" alt=""/>
                        <a href="http://blog.sina.com.cn/" target="_blank">新浪博客</a>
                     </div>

                     <div class="blog">
                        <img src="http://g.soz.im/http://blog.163.com/" alt=""/>
                        <a href="http://blog.163.com/" target="_blank">网易博客</a>
                     </div>

                     <div class="blog">
                        <img src="http://g.soz.im/http://blog.tianya.cn/" alt=""/>
                        <a href="http://blog.tianya.cn/" target="_blank">天涯博客</a>
                     </div>

                     <div class="blog">
                        <img src="https://medium.com/apple-touch-icon-precomposed-152.png" alt=""/>
                        <a href="https://medium.com/" target="_blank">Medium</a>
                     </div>
                  </td>
               </tr>

               <tr>
                  <td>专业型</td>
                  <td>
                     <div class="blog">
                        <img src="http://csdnimg.cn/public/favicon.ico" alt=""/>
                        <a href="http://blog.csdn.net/" target="_blank">CSDN</a>
                     </div>

                     <div class="blog">
                        <img src="http://static.cnblogs.com/favicon.ico" alt=""/>
                        <a href="http://www.cnblogs.com/" target="_blank">博客园</a>
                     </div>

                     <div class="blog">
                        <img src="http://g.soz.im/http://blog.sciencenet.cn/blog.php" alt=""/>
                        <a href="http://blog.sciencenet.cn/blog.php" target="_blank">科学网</a>
                     </div>
                  </td>
               </tr>

               <tr>
                  <td>轻博客</td>
                  <td>
                     <div class="blog">
                        <img class="favicon" src="{{ static('image/icons/diandian.ico') }}">
                        <a href="http://www.diandian.com/" target="_blank">点点</a>
                     </div>

                     <div class="blog">
                        <img class="favicon" src="{{ static('image/icons/lofter.ico') }}">
                        <a href="http://www.lofter.com/" target="_blank">LOFTER</a>
                     </div>

                     <div class="blog">
                        <img class="favicon" src="{{ static('image/icons/qing.ico') }}" alt=""/>
                        <a href="http://qing.blog.sina.com.cn/" target="_blank">Qing</a>
                     </div>


                     <div class="blog">
                        <img src="https://secure.assets.tumblr.com/images/favicons/favicon.ico?_v=0"
                             alt=""/>
                        <a href="https://www.tumblr.com/" target="_blank">Tumblr</a>
                     </div>
                  </td>
               </tr>

               <tr>
                  <td rowspan="3">独立博客</td>
               </tr>

               <tr>
                  <td>动态博客</td>
                  <td>
                     <div class="blog">
                        <img src="{{ static('image/icons/wp.png') }}" alt=""/>
                        <a href="https://wordpress.org/" target="_blank">WordPress</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/typecho.ico') }}" alt=""/>
                        <a href="http://typecho.org/" target="_blank">Typecho</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/ghost.ico') }}" alt=""/>
                        <a href="https://ghost.org/" target="_blank">Ghost</a>
                     </div>
                  </td>
               </tr>

               <tr>
                  <td>静态博客</td>
                  <td>
                     <div class="blog">
                        <img src="{{ static('image/icons/jekyll.ico') }}" alt=""/>
                        <a href="http://jekyllrb.com/" target="_blank">Jekyll</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/octopress.ico') }}" alt=""/>
                        <a href="http://octopress.org/" target="_blank">Octopress</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/hexo.png') }}" alt=""/>
                        <a href="http://hexo.io/docs/" target="_blank">Hexo</a>
                     </div>

                     <div class="blog">
                        <img src="{{ static('image/icons/gh.ico') }}" alt=""/>
                        <a href="https://github.com/" target="_blank">GitHub Issue</a>
                     </div>
                  </td>
               </tr>
            </table>

            <p>目前有非常多的博客写作方式，Blogbar 将它们分为 2 大类：博客平台、独立博客。</p>

            <h3>博客平台</h3>

            <p>
               根据定位的不同，博客平台可分为大众型博客平台、专业型博客平台、轻博客。
            </p>

            <p>
               大众型博客平台包括 <strong>新浪博客</strong>、<strong>网易博客</strong>、<strong>天涯博客</strong>
               等，它们都涌现于 Web 2.0 时代，有很多资深用户常年在其中写作。随着互联网的发展，新一代博客平台陆续发布，比如
               <strong>简书</strong>、国外的 <strong>Medium</strong>，它们都有着非常不错的用户体验，干净清新，专注于内容本身。
               值得一提的还有新兴博客平台 <strong>FarBox</strong>，它可以将本地的文本文件转化为网页，将本地的照片转化为网络相册，让写博客变得轻松和自然。
            </p>

            <p>
               而专业型博客平台，则一般是针对某一特定行业的写作空间，比如针对程序员交流技术的 <strong>CSDN</strong> 和
               <strong>博客园</strong>，针对学术界的 <strong>科学网</strong>，都有着浓厚的行业气息。
            </p>

            <p>
               最后则是轻博客，它是介于博客与微博之间的一种博客服务。代表产品有 <strong>点点网</strong>、网易的
               <strong>LOFTER</strong>、新浪的 <strong>Qing</strong>，以及国外的轻博客产品 <strong>Tumblr</strong>。
            </p>

            <h3>独立博客</h3>

            <p>
               独立博客，意味着需要博主自行提供博客服务器。根据是否动态生成博客内容，可将其分为：动态博客、静态博客。
            </p>

            <p>
               最著名的动态博客程序当属 <strong>WordPress</strong>，它是目前世界上使用最广泛的博客系统，有着庞大的用户、活跃的社区以及丰富的模板/插件资源。
               国内也有非常不错的博客系统 <strong>Typecho</strong>，经过三年沉淀，愈加轻量高效。
               而 <strong>Ghost</strong> 则是另一款内容写作发布工具，纯粹干净、简洁沉静。不过如果想要自行部署 Ghost，需要具备一定的技术经验。
            </p>

            <p>
               静态博客一般会在本地生成博客所需的全部页面代码，然后上传到网络服务器上即可。相对于动态博客来说，静态博客更加轻量，无需配置数据库，服务器响应速度会更快。静态博客系统的代表有 <strong>Jekyll</strong>、<strong>Octopress</strong> 和 <strong>Hexo</strong>。
               如果你懂 Git，可无需另外购买服务器，直接将生成的静态文件推送到 GitHub Pages 上，GitHub 会免费为你托管博客内容。
               若你觉得还不够 Geek，而且酒香不怕巷子深，也可以直接在 GitHub 上通过开 <strong>Issue</strong> 的方式写博客。
            </p>

            <hr/>

            <p>再好的博客平台、再易用的博客程序，也抵不过一篇原创博文。</p>

            <p>Keep writing，勿忘初心。</p>
         </div>
      </div>
   </div>
{% endblock %}
