.text-list {
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: square;
}
.text-list li {
  margin-bottom: 5px;
}
.vertical-form-group {
  margin-bottom: 10px;
}
.vertical-form-group input {
  padding-left: 0;
  outline: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  margin-bottom: 5px;
  color: #000;
  transition: border-color linear 0.1s;
  -moz-transition: border-color linear 0.1s;
  /* Firefox 4 */
  -webkit-transition: border-color linear 0.1s;
  /* Safari 和 Chrome */
  -o-transition: border-color linear 0.1s;
}
.vertical-form-group input:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #2a99c2;
  box-shadow: none;
}
.vertical-form-group .list-form-errors {
  font-size: 12px;
}
.vertical-form-group button[type='submit'] {
  margin-top: 5px;
}
