@import "utils";

.m-blog {
  position: relative;
  border-top: 1px solid #DDDDDD;
  margin: 0 0px 15px 0;
  padding: 15px 0 0 0;
  vertical-align: top;

  @media (min-width: @screen-sm-min) {
    padding-right: 25px;
  }

  &.no-kinds .title a {
    color: #ff0000;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;

    a {
      color: #333;
    }

    .offline {
      margin-left: 5px;
      font-size: 12px;
      font-weight: normal;
      color: #ff0000;
    }
  }

  .subtitle {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .author {
    position: absolute;
    bottom: 12px;
    left: 15px;
    color: #999;
    font-size: 12px;

    span {
      color: #666;
    }
  }

  .kinds {
    font-size: 12px;
    color: #999;
  }
}

.text-list {
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: square;

  li {
    margin-bottom: 5px;
  }
}

.form-group,
.vertical-form-group {
  margin-bottom: 10px;

  input[type='text'],
  input[type='password'] {
    padding-left: 0px;
    padding-right: 0px;
    outline: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 5px;
    color: #333;
    .transition(border-color, 0.1s);

    &:focus {
      padding-bottom: 5px;
      border-bottom: 2px solid @main-color;
      box-shadow: none;
    }
  }

  .list-form-errors {
    font-size: 12px;
  }

  button[type='submit'] {
    margin-top: 5px;
  }
}
