.m-blog {
  position: relative;
  border-top: 1px solid #DDDDDD;
  margin: 0 0px 15px 0;
  padding: 15px 0 0 0;
  vertical-align: top;
}
@media (min-width: 768px) {
  .m-blog {
    padding-right: 25px;
  }
}
.m-blog.no-kinds .title a {
  color: #ff0000;
}
.m-blog .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}
.m-blog .title a {
  color: #333;
}
.m-blog .title .offline {
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #ff0000;
}
.m-blog .subtitle {
  font-size: 12px;
  margin-bottom: 6px;
}
.m-blog .author {
  position: absolute;
  bottom: 12px;
  left: 15px;
  color: #999;
  font-size: 12px;
}
.m-blog .author span {
  color: #666;
}
.m-blog .kinds {
  font-size: 12px;
  color: #999;
}
.text-list {
  padding-left: 20px;
  list-style-type: square;
}
.text-list li {
  margin-bottom: 5px;
}
.form-group,
.vertical-form-group {
  margin-bottom: 10px;
}
.form-group input[type='text'],
.vertical-form-group input[type='text'],
.form-group input[type='password'],
.vertical-form-group input[type='password'] {
  padding-left: 0px;
  padding-right: 0px;
  outline: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  margin-bottom: 5px;
  color: #333;
  transition: border-color linear 0.1s;
  -moz-transition: border-color linear 0.1s;
  /* Firefox 4 */
  -webkit-transition: border-color linear 0.1s;
  /* Safari 和 Chrome */
  -o-transition: border-color linear 0.1s;
}
.form-group input[type='text']:focus,
.vertical-form-group input[type='text']:focus,
.form-group input[type='password']:focus,
.vertical-form-group input[type='password']:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #2a99c2;
  box-shadow: none;
}
.form-group .list-form-errors,
.vertical-form-group .list-form-errors {
  font-size: 12px;
}
.form-group button[type='submit'],
.vertical-form-group button[type='submit'] {
  margin-top: 5px;
}
