html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px;
}
.flash-message {
  background-color: #2a99c2;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
}
.page-site-index #nav-index > a,
.page-blog-square #nav-blog > a,
.page-site-approve-results #nav-approve-results > a,
.page-site-suggest #nav-suggest > a,
.page-site-about #nav-about > a,
.page-site-wiki #nav-wiki > a,
.page-account-signin #nav-signin > a,
.page-account-signup #nav-signup > a,
.page-account-subscription #nav-subscription > a,
.page-admin-approve #nav-admin > a,
.page-admin-posts #nav-admin > a,
.page-admin-blogs #nav-admin > a {
  color: #333;
  border-bottom: 2px solid #2a99c2;
}
@media (max-width: 767px) {
  .page-site-index #nav-index > a,
  .page-blog-square #nav-blog > a,
  .page-site-approve-results #nav-approve-results > a,
  .page-site-suggest #nav-suggest > a,
  .page-site-about #nav-about > a,
  .page-site-wiki #nav-wiki > a,
  .page-account-signin #nav-signin > a,
  .page-account-signup #nav-signup > a,
  .page-account-subscription #nav-subscription > a,
  .page-admin-approve #nav-admin > a,
  .page-admin-posts #nav-admin > a,
  .page-admin-blogs #nav-admin > a {
    border-bottom: none;
    background-color: #e9e9e9;
  }
}
.navbar {
  position: relative;
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .navbar .navbar-brand {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-nav {
    border-bottom: 1px solid #e7e7e7;
  }
}
.navbar .navbar-nav > li {
  z-index: 100;
}
@media (min-width: 768px) {
  .navbar .navbar-nav > li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar .navbar-nav > li > a {
    border-bottom: 2px solid transparent;
    padding-top: 20px;
    padding-bottom: 18px;
  }
}
.navbar .navbar-form {
  position: relative;
  margin: 15px 0 0 15px;
  padding: 0;
  border: none;
  width: 220px;
}
@media (max-width: 1199px) {
  .navbar .navbar-form {
    margin: 0 0 15px 0;
    float: none !important;
    clear: both;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-form {
    width: 100%;
  }
}
.navbar .navbar-form input {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
}
.navbar .navbar-form input:focus {
  border-color: #2a99c2;
}
.navbar .navbar-form button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 2px;
  z-index: 100;
  color: #aaa;
}
.navbar .navbar-btn.btn-sm {
  margin-left: 15px;
  margin-top: 15px;
  transition: all linear 0.08s;
  -moz-transition: all linear 0.08s;
  /* Firefox 4 */
  -webkit-transition: all linear 0.08s;
  /* Safari 和 Chrome */
  -o-transition: all linear 0.08s;
}
@media (max-width: 767px) {
  .navbar .navbar-btn.btn-sm {
    margin-top: 5.5px;
    margin-bottom: 15px;
    margin-left: 0;
  }
}
.navbar .navbar-right {
  margin-right: 0px;
}
.navbar .navbar-new-blogs-count a {
  text-decoration: none;
}
.navbar .navbar-new-blogs-count a .label:hover {
  background-color: #31b0d5;
}
.navbar .border {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e7e7e7;
  bottom: 0;
  left: 0;
}
.navbar .new-posts-count {
  background: #2a99c2;
  margin-left: 2px;
  vertical-align: text-bottom;
}
#footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
  color: #777;
}
#footer #links li {
  padding-right: 0;
  margin-left: 15px;
}
#footer #links li a {
  color: #777;
}
img[src='http://eiv.baidu.com/hmt/icon/21.gif'] {
  display: none;
}
