html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px;
}
.flash-message {
  background-color: #2a99c2;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
}
.page-site-index #nav-index > a,
.page-blog-square #nav-blog > a,
.page-site-approve-results #nav-approve-results > a,
.page-site-suggest #nav-suggest > a,
.page-site-about #nav-about > a,
.page-admin-approve #nav-admin > a {
  color: #333;
  border-bottom: 2px solid #2a99c2;
}
.navbar {
  position: relative;
  border: none;
  background-color: #fff;
  margin-bottom: 40px;
}
.navbar .navbar-brand {
  padding-top: 20px;
}
.navbar .navbar-nav > li {
  padding-left: 5px;
  padding-right: 5px;
  z-index: 100;
}
.navbar .navbar-nav > li > a {
  border-bottom: 2px solid transparent;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navbar .navbar-btn.btn-sm {
  margin-left: 15px;
  margin-top: 14px;
  transition: all linear 0.08s;
  -moz-transition: all linear 0.08s;
  /* Firefox 4 */
  -webkit-transition: all linear 0.08s;
  /* Safari 和 Chrome */
  -o-transition: all linear 0.08s;
}
.navbar .navbar-text {
  margin-top: 18px;
}
.navbar .border {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e7e7e7;
  bottom: 0;
  left: 0;
}
#footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #e2e2e2;
  padding-top: 20px;
}
#footer #links li {
  margin-left: 10px;
}
