{# 最新文章 #}
{% macro render_latest_posts(posts) %}
    {% set admin = permissions.AdminPermission().check() %}

    {% for post in posts %}
        <div class="latest-post">
            <div class="title">
                <a href="{{ url_for('blog.redirect_post', uid=post.id) }}" target="_blank">
                    {{ post.title }}
                </a>
            </div>

            <div class="meta">
                <a href="{{ url_for('blog.view', uid=post.blog_id) }}">
                    {{ post.blog.title }}</a>

                {% if post.published_at or post.updated_at %}
                    <span class="time
                                 {% if admin and post.published_at_exceed %}
                                    text-danger
                                 {% endif %}">
                              {{ post.published_at|timesince }}
                           </span>
                {% endif %}

                {% if g.user %}
                    <a href="javascript: void(0)" data-post-id="{{ post.id }}"
                       class="btn-collect-post {% if post.collected_by_user() %}collected{% endif %}">
                        <span class="fa fa-bookmark-o for-collect" title="收藏"></span>
                        <span class="fa fa-bookmark for-uncollect" title="取消收藏"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}