{% macro render_blogs(blogs) %}
    {% for blog in blogs %}
        <div class="m-blog col-sm-6 {% if loop.index % 2 == 1 %}odd{% endif %}">
            {% if g.user %}
                <div class="btn-wap {% if blog.subscribed_by_user() %}unsubscribe{% endif %}"
                     data-blog-id="{{ blog.id }}">
                    <a href="javascript:void(0)" class="btn-subscribe pull-right">
                        <span class="fa fa-plus"></span> 订阅
                    </a>

                    <a href="javascript:void(0)" class="btn-unsubscribe pull-right">
                        取消订阅
                    </a>
                </div>
            {% endif %}

            <div class="title">
                <a href="{{ url_for('blog.view', uid=blog.id) }}">
                    {{ blog.title }}</a>

                {% if blog.offline %}
                    <span class="offline">offline</span>
                {% endif %}
            </div>

            {% if blog.subtitle %}
                <div class="subtitle">{{ blog.subtitle }}</div>
            {% endif %}

            <div class="kinds">
                {% for blog_kind in blog.blog_kinds %}
                    {% set kind = blog_kind.kind %}
                    <span>{{ kind.name }}</span>
                    {% if not loop.last %} · {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if loop.index % 2 == 0 %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}

    <script type="text/javascript">
        $('.btn-wap').click(function () {
            var blogId = parseInt($(this).data('blog-id')),
                    url = "",
                    btnWap = $(this);

            if ($(this).hasClass('unsubscribe')) {
                url = "{{ url_for('blog.unsubscribe') }}";
            } else {
                url = "{{ url_for('blog.subscribe') }}";
            }

            $.ajax({
                url: url,
                data: {
                    blog_id: blogId
                },
                method: 'POST',
                dataType: 'json',
                success: function () {
                    btnWap.toggleClass('unsubscribe');
                }
            });
        });
    </script>
{% endmacro %}
