{% extends "layout.html" %}
{% from "_utils.html" import render_pagination %}
{% from "blog/blogs/_blogs.html" import render_blogs %}

{% block page_title %}我订阅的博客{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2>
               共订阅 {{ blogs.total }} 个博客
            </h2>

            <div class="blogs">
               {{ render_blogs(blogs.items) }}
            </div>

            {{ render_pagination(blogs) }}
         </div>
      </div>
   </div>
{% endblock %}
