{% extends "layout.html" %}
{% from "macros/_form.html" import _vertical_field %}

{% block page_title %}推荐博客{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="border">推荐博客</h2>

            <ul class="text-list">
               <li>必须是 <strong>个人</strong> 博客，即必须体现出个人气息。</li>
               <li>本站不收录团队博客，也不收录个人维护的商业性质博客，抱歉。</li>
               <li>博客的原创内容必须占所有内容的 60% 以上。</li>
               <li>不要求是独立博客，在博客平台（如新浪博客、简书）写博客的都行。</li>
            </ul>

            <form class="form-horizontal" role="form" method="post">
               {{ form.csrf_token }}

               {{ _vertical_field(form.url) }}
               {{ _vertical_field(form.title) }}
               {{ _vertical_field(form.subtitle) }}
               {{ _vertical_field(form.author) }}
               {{ _vertical_field(form.feed) }}
               {{ _vertical_field(form.since) }}

               <div class="form-group">
                  <div class="col-md-9">
                     <div class="kinds">
                        {% for kind in kinds %}
                           <span data-kind-id="{{ kind.id }}"
                                 class="kind {% if kind.id in kinds_data %}on{% endif %}">
                              {{ kind.name }}

                              {% if kind.id in kinds_data %}
                                 <input type="hidden" name="kinds" value="{{ kind.id }}"/>
                              {% endif %}
                           </span>
                        {% endfor %}
                     </div>
                  </div>
               </div>

               <div class="vertical-form-group">
                  <button type="submit" class="btn btn-sm btn-primary">
                     推荐
                  </button>
               </div>
            </form>
         </div>

         <div class="col-sm-4">
         </div>
      </div>
   </div>

   <script type="text/javascript">
      $('#url').focus();

      $('.kind').click(function () {
         var kindId = $(this).data('kind-id');

         $(this).toggleClass('on');

         if ($(this).hasClass('on')) {
            $(this).append("<input name='kinds' type='hidden' value=" + kindId + " />");
         } else {
            $(this).find('input').detach();
         }
      });
   </script>
{% endblock %}
