{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}

{% block page_title %}首页{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="col-sm-8">
         <h2>博客推荐指南</h2>

         <ul>
            <li>必须是<strong>个人</strong>博客，即必须体现出个人气息。</li>
            <li>本站不收录团队博客，也不收录个人维护的商业性质博客，sorry。</li>
            <li>博客的原创内容必须占所有内容的60%以上。</li>
            <li>不要求是独立博客，在博客平台（如新浪博客、简书）写博客的都行。</li>
         </ul>

         <h2>推荐博客</h2>

         <form class="form-horizontal" role="form" method="post"
               action="">
            {{ form.csrf_token }}

            {{ horizontal_field(form.url) }}

            {{ horizontal_field(form.title) }}

            {{ horizontal_field(form.subtitle) }}

            {{ horizontal_field(form.author) }}

            {{ horizontal_field(form.feed) }}

            {{ horizontal_field(form.since) }}

            <div class="form-group">
               <div class="col-md-6 col-md-offset-2">
                  <input type="submit" value="提交" class="btn btn-sm btn-primary"/>
               </div>
            </div>
         </form>
      </div>

      <div class="col-sm-4">
      </div>
   </div>
{% endblock %}