{% extends "layout.html" %}
{% from "macro/ui.html" import pagination %}

{% block page_title %}全部博文{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="col-sm-8">
         <h2>全部博文</h2>

         {% for p in posts.items %}
            <div>
               <a href="{{ p.url }}" target="_blank">{{ p.title }}</a>
               {#               {% if p.blog.is_protected %}#}
               {#                  <a href="{{ p.url }}" target="_blank">{{ p.title }}</a>#}
               {#               {% else %}#}
               {#                  <a href="{{ url_for('blog.post', uid=p.id) }}">{{ p.title }}</a>#}
               {#               {% endif %}#}

               &nbsp;&nbsp;
               {{ p.blog.author }}

               <div>
                  {% if p.published_at %}
                     发布于：
                     <span class="utc-time">{{ p.published_at }}</span>
                  {% endif %}

                  {% if p.updated_at %}
                     更新于：
                     <span class="utc-time">{{ p.updated_at }}</span>
                  {% endif %}
               </div>
            </div>

            <hr style="margin: 10px 0;"/>
         {% endfor %}

         {{ pagination(posts) }}
      </div>
   </div>
{% endblock %}