{% extends "layout.html" %}
{% from "macros/_form.html" import render_horizontal_field %}

{% block page_title %}{{ post.title }}{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="col-sm-8">
         <h1>{{ post.title }}</h1>

         <p>原文链接：<a href="{{ post.url }}" target="_blank">{{ post.url }}</a></p>

         <p>作者：{{ post.blog.author }}</p>

         <p>
            博客：<a href="{{ url_for('blog.view', uid=post.blog_id) }}">{{ post.blog.title }}</a>
            &nbsp;
            <a href="{{ post.blog.url }}" target="_blank"><span class="fa fa-external-link"></span></a>
         </p>

         <div class="time">
            {% if post.published_at %}
               发布于：
               <span class="utc-time">{{ post.published_at }}</span>
            {% endif %}

            {% if post.updated_at %}
               更新于：
               <span class="utc-time">{{ post.updated_at }}</span>
            {% endif %}
         </div>

         <hr/>

         <div>
            {{ post.content|safe }}
         </div>
      </div>

      <div class="col-sm-4">
         <div class="word-cloud" style="height: 320px;"></div>
      </div>

      <script type="text/javascript">
         $(function () {
            var tags = {{ tags|safe }};
            $('.word-cloud').jQCloud(tags);
         });
      </script>
   </div>
{% endblock %}