{% extends "layout.html" %}
{% from '_utils.html' import render_pagination %}
{% from "blog/blogs/_blogs.html" import render_blogs %}

{% block page_title %}博客广场{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    <span class="fa fa-cube"></span> 博客广场
                    <small>按更新时间排序</small>
                </h2>

                {% set admin = permissions.AdminPermission().check() %}

                <div class="kinds-selector">
                    <a class="kind {% if not kind_id or kind_id == 0 %}on{% endif %}"
                       href="{{ url_for('blog.square') }}">全部</a>

                    {% for kind in kinds %}
                        <a class="kind {% if kind_id == kind.id %}on{% endif %}"
                           href="{{ url_for('blog.square', kind=kind.id) }}">
                            {{ kind.name }}
                        </a>
                    {% endfor %}
                </div>

                <div class="blogs clearfix">
                    {% if not blogs.total %}
                        <p class="text-light">暂未收录</p>
                    {% endif %}

                    {{ render_blogs(blogs.items) }}
                </div>

                {{ render_pagination(blogs) }}
            </div>

            <div class="col-sm-4">
                <h2>
                    <span class="fa fa-clock-o"></span> 最新收录
                </h2>

                <div class="latest-blogs">
                    {% for blog in latest_blogs %}
                        <div class="latest-blog">
                            <a class="title"
                               href="{{ url_for('blog.view', uid=blog.id) }}">{{ blog.title }}</a>
                            {% if blog.subtitle %}
                                <div class="subtitle">{{ blog.subtitle }}</div>
                            {% endif %}

                            <span class="time">
                                {{ blog.created_at|timesince }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
