{% extends "layout.html" %}
{% from 'macro/ui.html' import pagination %}

{% block page_title %}博客广场{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="no-margin-top">
               <span class="fa fa-cube"></span> 博客广场
               <small>排名不分先后</small>
            </h2>

            <div class="blogs clearfix">
               {% for blog in blogs.items %}
                  <div class="blog col-sm-6" title="{{ blog.subtitle }}">
                     <a href="{{ url_for('blog.view', uid=blog.id) }}" class="title">
                        {{ blog.title }}</a>

                     {% if blog.subtitle %}
                        <div class="subtitle">{{ blog.subtitle }}</div>
                     {% endif %}

                     <div class="kinds">
                        {% for kind in blog.kinds %}
                           <span>{{ kind.name }}</span>
                           {% if not loop.last %} · {% endif %}
                        {% endfor %}
                     </div>
                     {#                  <div class="author">by <span>{{ blog.author }}</span></div>#}
                  </div>

                  {% if loop.index % 2 == 0 %}
                     <div class="clearfix"></div>
                  {% endif %}
               {% endfor %}
            </div>

            {{ pagination(blogs) }}
         </div>

         <div class="col-sm-4">
            <h2 class="no-margin-top">
               <span class="fa fa-clock-o"></span> 最新收录
            </h2>

            <div class="latest-blogs">
               {% for blog in latest_blogs %}
                  <div class="latest-blog">
                     <a class="title"
                        href="{{ url_for('blog.view', uid=blog.id) }}">{{ blog.title }}</a>
                     {% if blog.subtitle %}
                        <div class="subtitle">{{ blog.subtitle }}</div>
                     {% endif %}
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
{% endblock %}
