{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}
{% from "macro/ui.html" import pagination %}

{% block page_title %}{{ blog.title }}{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-4">
            <div class="blog-header">
               <div class="title">
                  {{ blog.title }}

                  {% if blog.is_protected %}
                     <sup title="作者禁止转载" class="forbid">
                        <span class="fa fa-lock"></span>
                     </sup>
                  {% endif %}
               </div>

               {% if blog.subtitle %}
                  <div class="subtitle">{{ blog.subtitle }}</div>
               {% endif %}
            </div>

            <table class="table">
               <tr>
                  <td>URL</td>
                  <td>
                     <a class="url" href="{{ blog.url }}"
                        target="_blank">{{ blog.url|friendly_url }}</a>
                  </td>
               </tr>

               <tr>
                  <td>博主</td>
                  <td>{{ blog.author }}</td>
               </tr>

               {% if blog.since %}
                  <tr>
                     <td>Since</td>
                     <td>
                        {{ blog.since }}
                     </td>
                  </tr>
               {% endif %}

               {% if blog.feed %}
                  {% set feed = blog.feed %}
               {% elif blog.has_spider and not blog.is_protected %}
                  {% set feed = url_for('blog.feed', uid=blog.id) %}
               {% else %}
                  {% set feed = None %}
               {% endif %}

               {% if feed %}
                  <tr>
                     <td>订阅</td>
                     <td>
                        <a href="{{ feed }}" title="feed" target="_blank" class="feed">
                           <span class="fa fa-rss-square"></span>
                        </a>
                     </td>
                  </tr>
               {% endif %}
            </table>

            {% if permissions.AdminPermission().check() %}
               <a href="{{ url_for('admin.edit_blog', uid=blog.id) }}"
                  class="btn btn-default btn-sm">
                  <span class="fa fa-edit"></span> 编辑</a>
            {% endif %}
         </div>

         <div class="col-sm-8">
            {% if posts.total == 0 %}
               <p class="text-light">尚未收录文章。</p>
            {% endif %}

            {% for post in posts.items %}
               <div class="post">
                  <div class="pull-right">
                     {% if post.published_at %}
                        <span class="time utc-time utc-time-date">{{ post.published_at }}</span>
                     {% endif %}
                  </div>

                  <div>
                     <a href="{{ url_for('blog.redirect_post', uid=post.id) }}" class="title"
                        target="_blank">{{ post.title }}</a>

                     {% if permissions.AdminPermission().check() %}
                        {% if post.recommend %}
                           <span class="label label-success">推荐</span>
                        {% endif %}

                        {% if post.hide %}
                           <span class="label label-warning">隐藏</span>
                        {% endif %}

                        <div class="btn-group btn-group-xs">
                           {% if post.hide %}
                              <a href="{{ url_for('admin.show_post', uid=post.id) }}"
                                 class="btn btn-sm btn-default">
                                 <span class="fa fa-eye"></span> 显示
                              </a>
                           {% else %}
                              <a href="{{ url_for('admin.hide_post', uid=post.id) }}"
                                 class="btn btn-sm btn-default">
                                 <span class="fa fa-eye-slash"></span> 隐藏
                              </a>{% endif %}

                           {% if post.recommend %}
                              <a href="{{ url_for('admin.unrecommend_post', uid=post.id) }}"
                                 class="btn btn-sm btn-default">
                                 <span class="fa fa-thumbs-down"></span> 取消推荐
                              </a>
                           {% else %}
                              <a href="{{ url_for('admin.recommend_post', uid=post.id) }}"
                                 class="btn btn-sm btn-default">
                                 <span class="fa fa-thumbs-up"></span> 推荐
                              </a>
                           {% endif %}
                        </div>
                     {% endif %}
                  </div>

                  {% if post.pure_content %}
                     <div class="abstract">
                        {{ post.pure_content|truncate(30, true) }}
                     </div>
                  {% endif %}
               </div>
            {% endfor %}

            {{ pagination(posts) }}
         </div>
      </div>
   </div>
{% endblock %}
