{% extends "layout.html" %}
{% from "macro/form.html" import horizontal_field %}
{% from "macro/ui.html" import pagination %}

{% block page_title %}{{ blog.title }}{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="row">
         <div class="col-sm-8">
            <h2 class="no-margin-top">
               {{ blog.title }}

               {% if blog.is_protected %}
                  <sup title="作者禁止转载">
                     <span class="fa fa-lock" style="color: #FAAD07;"></span>
                  </sup>
               {% endif %}

               {% if permissions.AdminPermission().check() %}
                  <a href="{{ url_for('admin.edit_blog', uid=blog.id) }}"
                     class="btn btn-default btn-sm">
                     <span class="fa fa-edit"></span> 编辑</a>
               {% endif %}
            </h2>

            {% if blog.subtitle %}
               <p>{{ blog.subtitle }}</p>
            {% endif %}

            {% if blog.since %}
               <p>Since {{ blog.since }}</p>
            {% endif %}

            <p>链接：<a href="{{ blog.url }}" target="_blank">{{ blog.url }}</a></p>

            <p>
               {% if blog.feed %}
                  {% set feed = blog.feed %}
               {% elif blog.has_spider and not blog.is_protected %}
                  {% set feed = url_for('blog.feed', uid=blog.id) %}
               {% else %}
                  {% set feed = None %}
               {% endif %}

               {% if feed %}
                  订阅：<a href="{{ feed }}" target="_blank"><span class="fa fa-rss-square"></span></a>
               {% endif %}
            </p>

            <p>作者：{{ blog.author }}</p>

            {% for p in posts.items %}
               <div>
                  <a href="{{ url_for('blog.redirect_post', uid=p.id) }}"
                     target="_blank">{{ p.title }}</a>

                  <div>
                     {% if p.published_at %}
                        发布于：
                        <span class="utc-time">{{ p.published_at }}</span>
                     {% endif %}
                  </div>
               </div>
            {% endfor %}

            {{ pagination(posts) }}
         </div>
      </div>
   </div>
{% endblock %}
